@import 'fonts';

$large-desktop-site-width: calc(82vw);
$desktop-site-width: calc(83.34vw);
$tablet-site-width: calc(87vw);
$mobile-site-width: calc(90vw);

$primary-font: 'Playfair Display', serif;
$secondary-font: 'Roboto', sans-serif;