@import 'variables';
@import 'mixins';

#about-me-page {
  background: #ef7869;
  width: 100vw;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 150px;
  padding-left: 80px;
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
}

#about-me-page .description-wrapper {
  width: 80%;
}