@import 'variables';
@import 'mixins';

#about-me-page {
  box-sizing: border-box;
  background: #ef7869;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 1.3rem;
  font-weight: 900;

  @include mobile {
    padding: 75px 25px 0;
  }

  @include tablet {
    padding: 150px 40px 0;
    font-size: 1.8rem;
  }

  @include desktop {
    padding: 150px 40px 0;
    font-size: 30px;
  }

  @include large-desktop {
    padding: 150px 40px 0;
    font-size: 30px;
  }
}

#about-me-page .greeting-wrapper {
  line-height: 26px;
  margin-bottom: 20px;

  @include tablet {
    line-height: 32px;
  }

  @include desktop {
    line-height: 45px;
  }

  @include large-desktop {
    line-height: 45px;
  }
}

#about-me-page .description-wrapper {
  line-height: 26px;
  margin-bottom: 20px;


  @include tablet {
    line-height: 32px;
  }

  @include desktop {
    line-height: 45px;
  }

  @include large-desktop {
    line-height: 45px;
  }
}

#about-me-page .lets-meet {
  font-family: $secondary-font;
  font-size: 15px;
  font-style: italic;
  margin: 0;

  @include tablet {
    font-size: 17px;
  }

  @include desktop {
    font-size: 19px;
  }

  @include large-desktop {
    font-size: 19px;
  }
}

#about-me-page .mail {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 700;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }

  @include large-desktop {
    font-size: 20px;
  }
}

#about-me-page .footer {
  text-align: end;
  font-family: $secondary-font;
  font-size: 10px;
  line-height: 15px;
  position: fixed;
  bottom: 10px;
  right: 16px;
}

#about-me-page a {
  display: inline-block;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }

  &:before {
    left: -0.5px;
  }
  &:after {
    right: 0.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
}

